include COPYING*
include INSTALL*
include README*
include CHANGELOG*
include src/keymon/*.py
exclude src/keymon/options_test.py
include src/key-mon
recursive-include src *.svg *.kbd *.mo config
recursive-include icons *.desktop *.xpm *.png *.svg
recursive-include docs *.rst
include man/*.1
